bokeh==2.4.3
colorama==0.4.6
colorcet==3.0.1
colorclass==2.2.2
HeapDict==1.0.1
holoviews==1.15.4
hvplot==0.8.2
idna==3.4
imagesize==1.4.1
numpy==1.24.1
pandas==1.5.3
panel==0.14.2
pyviz-comms==2.2.1
rich==13.6.0
streamlit==1.30.0

